body {
  background: #f4f2ec url(../img/circuito1.jpg) repeat-x;
  font: 12px 'Space Mono', monospace, Arial, sans-serif;
}

#container {
  margin: 0 auto;
  width: 100%;
}

a:link, a:active, a:visited {
  color:#af670a;
  text-decoration: none;
}

a:hover {
  color: #227115;
}

#logo h1 {
  float: left;
}

#logo a {
  background: url(../img/logo1.png) no-repeat;
  display: block;
  height: 36px;
  text-indent: -9999px;
  width: 248px;
}

header {
  padding: 15px 0;
  height: 55px;
}

nav ul {
  float: right;
  list-style: none;
  margin: 20px;
}

nav ul li {
  background-color: rgba(29, 19, 0, 0.7);
  float: left;
}

nav ul li a:link {
  display: block;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 3px;
  padding-top: 3px;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 1px solid #535858;
}

#conteudo {
  float: left;
  width: 55%;
}

aside {
  background: #ebe7dd;
  float: right;
  width: 40%;
}

.spinner {
  animation: spin 1s linear infinite;
  border-left-color: green;
  border-radius: 50%;
  border: 8px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 50px;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}

.btn{
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-size: 1.2em;
  font-weight: 700;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-green{
  background: green;
  box-shadow: 0 5px 0 #006000;
  color: #fff;
}

.btn-green:hover{
  background: #006000;
  box-shadow: 0 5px 0 #003f00;
  color: #fff;
}

.btn-green:active{
  box-shadow: none;
  position: relative;
  top: 5px;
}

.btn:focus{
  outline-style: none;
}

.form-row {
  background: cdc8b1;
  margin-top: 10px;
  padding: 10px 27px 27px 27px;
}

h2 {
  color: #227115;
  font-size: 1.50em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h4 {
  color: #86521a;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}

input {
  background: #fff;
  border: none;
  font-size: 1em;
  height: 20px;
  width: 80px;
}

input.form-control {
  border: 1px solid #9b9271;
}

#lyrics {
  background: cdc8b1;
  float: auto;
  height: auto;
  margin-top: 10px;
  padding: 10px;
  width: 330px;
}

footer {
	background: url(../img/placa-de-circuito-background.jpg) repeat-x center top;
	margin-top: 20px;
	padding: 20px 0 30px 0;
	text-align: center;
  clear: both;
  font-size: 1.50em;
  font-weight: bold;
}

footer>p a {
	padding: 2px 10px;
}
